<!DOCTYPE html>
<html lang="en">
<head>
<style>
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
</style>
</head>

<body>
<!-- test -->
<h1>2016-4-28</h1>
<table cellpadding="0" cellspacing="0" border="0">
	
    <tr class="row1">
		<td><h1 style="width:100px;left: 0; top: 2">mice 1</h1></td>
		<td><img  style="width:350px" src="./line-chart.png" /></td>
        <td><img  style="width:350px" src="./line-chart.png" /></td>
		<td><img  style="width:350px" src="./line-chart.png" /></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><!--empty space-->
		<td><h1 style="width:100px;left: 0; top: 2">mice 2</h1></td>
		<td><img  style="width:350px" src="./line-chart.png" /></td>
        <td><img  style="width:350px" src="./line-chart.png" /></td>
		<td><img  style="width:350px" src="./line-chart.png" /></td>
    </tr>
</table>
<br>
<!-- break symbol-->
<hr style="width: 2300px" /><!-- width=max(total width of table1,total width of table2) -->

<h1>2016-4-29</h1>
<table cellpadding="0" cellspacing="0" border="0">
	<tr class="row2">
        <td><h1 style="width:100px;left: 0; top: 2">mice 3</h1></td>
		<td><img  style="width:350px" src="./line-chart.png" /></td>
        <td><img  style="width:350px" src="./line-chart.png" /></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><!--empty space-->
		<td><h1 style="width:100px;left: 0; top: 2">mice 4</h1></td>
		<td><img  style="width:350px" src="./line-chart.png" /></td>
        <td><img  style="width:350px" src="./line-chart.png" /></td>
    </tr> 
</table>
<br>
<hr style="width: 2300px" />
</body>



</html>