body{
    background-color: #fff;
    font-family: "Open sans", sans-serif;
}

div.session_group {
    margin: 0;
    padding: 0 0 10px 0;
    white-space: nowrap;
    float: left;
}

div.session_title {
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

div.img_group {
    margin: 0;
    padding: 0px 6px 10px 6px;
    white-space: nowrap;
    float: left;
}
img {
    height: 240px;
    /*width: 300px;*/
    margin: 0;
    padding: 0;
}
