body{
	background-color: #fff;
}

div.session {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	float: left;
}

div.img_group {
	margin: 0;
	padding: 10px 6px;
	white-space: nowrap;
	float: left;
}
img {
	width: 300px;
}
