body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.hidden_subject {
	visibility: hidden;
	position: absolute;
	
}

.label_subject {
	/*border: outset;*/
	border:0px solid transparent; /* flat look*/
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 30px;
	width: 85px;
	vertical-align: top;
	text-align:center;
	opacity: .5; /* initial gray*/
	border-radius: 4px;  /* round corner*/
}

.label_item {
	border: outset;
	display: inline-block;
	height: 70px;
	margin-right: 20px;
	margin-bottom: 30px;
	text-decoration: none;
	width: 85px;
	vertical-align: top;
	padding-bottom: 10px;
	text-align:center;
	opacity: .5; /* initial gray*/
	border-radius: 10px;  /* round corner*/
}

.hidden_subject:checked + label {
	/*border: 2px inset ; /* white border when clicked*/
	opacity: 1;
}

/* .label_name {text-align: center;} */

.hidden_plot {
	visibility: hidden;
	position: absolute;
}

.hidden_plot:checked + label {
	border: 2px inset #ff3333 ; 
	opacity: .9;
}


.hidden_date:checked + label{
	border: 2px inset #ff3333 ; 
	opacity: .9;
}

.profile-div{
	border: 1.0px;
	padding: 10px;
}


.profile-selected{
	border-radius: 5px;
	background: #ffff80;
	padding: 10px;
}

.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}

.vertical-line {
    border-right: solid 0.5px #e6e6e6;
}



.hidden_save_btn{
	visibility: hidden;
	position: absolute;
}


.hidden_save_btn:checked+label{
	opacity:1;
}
.label_save_btn {
	/*border: outset;*/
	border:0px solid transparent; /* flat look*/
	display: inline-block;
	margin-bottom: 30px;
	width: 85px;
	vertical-align: top;
	text-align:center;
	border-radius: 4px;  /* round corner*/
	opacity:0.5;
}


.hidden_profile{
	/*visibility: hidden; */ /*hide checkboxes*/
	position: absolute;
	width: 200px;
	padding: 10px;
	
}

.hidden_profile:checked+label{
	border-radius: 5px;
	background: #ffff80;
	padding: 10px;
	width: 200px;

}
