<!DOCTYPE html>
<html lang="en">
    <head>
        <title>jaraviewer</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <!-- Google Hosted jQuery (necessary for Bootstrap's JavaScript plugins)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> 

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
	<!-- Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600"
	      rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300"
	      rel="stylesheet" type="text/css">

        <!-- Manual CSS -->
        <link href="../static/stylesheet.css" rel="stylesheet">
    </head>

    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="/jaraviewer">JaraViewer</a>-->
                    <div class="navbar-brand"><span class="jara">jara</span><span class="lab">viewer</span></div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="/jaraviewer">Home</a></li> -->
                        <!-- <li><a href="{{ location|safe }}/modify_saved_profile">Delete Profiles</a></li> -->
                        <li><a href="{{ url_for('modify_profile') }}">Delete Profiles</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Git <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://github.com/sjara/jaraviewer">jaraviewer</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="https://github.com/sjara/jaratoolbox">jaratoolbox</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> <!--/.nav-collapse -->
            </div> <!-- container -->
        </nav> <!-- nav bar end -->


        <div class="container">
            <!-- container 1: Form -->
            <div class="col-lg-8 vertical-line"> 
		<form class="form-horizontal" name="form" action="{{ url_for('modify') }}" method='POST'>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="subject">Edit subjects:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="subject" name='subject'>
                        </div>
                        <div class="col-sm-3">
                       	    <button type="submit" class="btn btn-default" name="submit" value="add">Add</button>
                            <button type="submit" class="btn btn-default" name="submit" value="delete">Delete</button>
                        </div>
                    </div>

                </form>
                <br>

                <form class="form-horizontal" name="form" action="{{ url_for('execute') }}" method='POST'>
                    <!-- Select Subject -->
                    <div class="form-group">
                        <label class="control-label col-sm-2">Subjects:</label><br>
                        <div class="col-sm-10">
                            {{ mice|safe }}
                        </div>
                    </div>
                   
                    <!-- Select Plot Type -->
                    <div class="form-group">
                        <label class="control-label col-sm-2">Plot Type:</label> 
                        <div class="col-sm-6">
                                
                            <input type="checkbox" id="psychometric" value="psychometric" name="plotType" class="hidden_plot">
                            <label class="label_ploticon" for="psychometric">
                                <img class="icon" src="static/psychometric.svg" alt="">
                                Psychometric   
                            </label>
                            
                            <input type="checkbox" id="summary" value="summary" name="plotType" class="hidden_plot">
                            <label class="label_ploticon" for="summary">
                                <img class="icon" src="static/summary.svg" alt="">
                                Summary
                            </label>
                            
                            <input type="checkbox" id="dynamics" value="dynamics" name="plotType" class="hidden_plot">
                            <label class="label_ploticon" for="dynamics">
                                <img class="icon" src="static/dynamics.svg" alt="">
                                Dynamics
                            </label>
                        </div>
                    </div> <!-- form-group -->
                    <br>

                    <!-- Date Range Picker -->
                    <div class="form-group">
                        <label class="control-label col-sm-2">Date Range:</label> 
                        <div class="col-sm-6">
                            <div class="input-group date" id="daterange"> 
                                <input type="text" id="date-range-input" name="dateRange" class="form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>

                                <script type="text/javascript">                                
                                    $(function() {
                                        function cb(start, end) {
                                            $('#daterange input').html('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
                                        }
                                        /* Range for user to select */
                                        $('#daterange input').daterangepicker({
                                            /*
                                            locale: (object) Allows you to provide localized strings for buttons and labels,
                                                     customize the date display format, and change the first day of week for the calendars
                                            ranges: (object) Set predefined date ranges the user can select from.
                                                    Each key is the label for the range, and its value an array with
				                    two dates representing the bounds of the range
                                            */

                                            locale: {
                                                format: 'YYYY-MM-DD' 
                                            },
                                            ranges: {
				                'test': [moment('2016-05-01','YYYY-MM-DD'),moment('2016-05-02','YYYY-MM-DD')],
                                                'Today': [moment(), moment()],
                                                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                                //'Current Month': [moment().startOf('month'), moment().endOf('month')],
                                                //'Previous Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                            }
                                        }, cb);
                                    });
                                </script>
                            </div>       
                        </div>
                    </div> <!-- form-group -->

                    <!--Columns  -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="column-num">Columns:</label>    
                        <div class="col-sm-6">
                            <select class="form-control" id="column-num" name="nColumns">
                                <option value="-">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>  <!-- form-group -->

                    <br>
                    <div class="form-group">
                        <!-- Buttons -->
                        <div class="text-center" >
                            <button type="reset" class="btn btn-warning" name="submit" value="reset">Reset </button>
                            <button type="submit" class="btn btn-default" name="submit" value="saveProfile"
				    onClick="this.form.target='_self';valthisform();">Save profile</button>
                            <button type="submit" class="btn btn-primary" name="submit" value="submit"
				    onClick="this.form.target='_blank';valthisform();">Plot</button>
                        </div>
			
			
			<!-- Validate subject and plot type checkboxes -->
			<script type="text/javascript">
                            function valthisform(){
                                // catching subject checkboxes
                    		if( $("[name='subject']:checked").length == 0){
                    			//alert("Please select a subject.");
                    			$("[name='subject']").attr("required", "required");
                    		} else {
                    			$("[name=subject]").removeAttr("required");
                    		}
				
				// catching plottype checkboxes
                    		if( $("[name='plotType']:checked").length == 0){
                    			//alert("Please select a plot type.");
                    			$("[name='plotType']").attr("required", "required");
                    			
                    		} else {
                    			$("[name=plotType]").removeAttr("required");
                    		}
                            }
                        </script>

                        <!-- Clear Data Function to Reset values for profileClickHandler --> 
                        <script type="text/javascript">
                            function clearData() {
                                    $("[name='subject']").prop("checked", false);
                                    $("[name='plotType']").prop("checked", false);
                                    //$("[name='dateRange']").val($(this).data('original-value'));
                                    $("[name='columNum']").prop("selected", false);
                                }
                            $(function() {
                                $("#clear-btn").click(clearData)
                            })
                        </script>


                        <script type="text/javascript">
                            function profileClickHandler(data) {
                                return function(event){
                                    // click and unclick saved profiles
                                    $('.profile-selected').removeClass('profile-selected')
                                    $(event.target).addClass('profile-selected')
                                    
                                    // clear data selections.
                                    clearData()

                                    // obtaining the subject data
                                    for (var i =0; i<data.subject.length; i++){
                                        $("#"+data.subject[i]).prop("checked", true);
                                    };

                                    // obtaining the plotType data
                                    for(var i = 0; i<data.plotType.length; i++){
                                        $("#"+data.plotType[i]).prop("checked", true);
                                    };

                                    // obtaining the dataRange data
                                    //$("[name='dateRange']").val(data.dateRange);

                                    // obtaining the columnNum data
                                    //$("#column-num option[value="+data.columNum +"]").prop("selected", true);
                            }}


                            $(function() {
                                var listOfProfiles;

                                listOfProfiles = {{list_profiles|safe}} // looks at previous profile  
				//console.log(listOfProfiles) // print out listOfProfiles

                                // displaying saved profiles from previous saved
                                for(var i=0; i<listOfProfiles.length; i++) {
                                    var data = listOfProfiles[i]
                                    $profileLabel = $('<div class="profile-div">' 
                                        + JSON.stringify(data.subject, null, 2).replace(/[\[\]"]/g, "") 
                                        + '<br>' 
                                        + JSON.stringify(data.plotType, null, 2).replace(/[\[\]"]/g, "") 
                                        + '<br>' + '</div>');
                                    $profileLabel.appendTo('#display-data');
                                    // append button to display 
                                    $profileLabel.click(profileClickHandler(data));

					//+ JSON.stringify(data.index, null, 2).replace(/[\[\]"]/g, "") 
					//+ '<br>'

                                }})
                        </script>
                    </div> <!-- form-group -->
                </form>
            </div> <!-- container 1 -->


            <!-- container 2: Display Profiles  -->
            <div class="col-lg-4">
                <div id="display-data">
                    <h3>Saved Profiles</h3>
                    <div class="form-group">
		    </div>
                </div>
            </div> <!-- container 2 -->
            
        </div> <!-- container (main) -->
    </body>
</html>




