body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.hidden_subject {
	visibility: hidden;
	position: absolute;
	
}

.label_subject {
	border: outset;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 30px;
	width: 85px;
	vertical-align: top;
	text-align:center;
	opacity: .5; /* initial gray*/
	border-radius: 10px;  /* round corner*/
}

.label_item {
	border: outset;
	display: inline-block;
	height: 70px;
	margin-right: 20px;
	margin-bottom: 30px;
	text-decoration: none;
	width: 85px;
	vertical-align: top;
	padding-bottom: 10px;
	text-align:center;
	opacity: .5; /* initial gray*/
	border-radius: 10px;  /* round corner*/
}

.hidden_subject:checked + label {
	border: 2px inset ; 
	opacity: 1;
}

.label_name {
	text-align: center;
}

.hidden_plot {
	visibility: hidden;
	position: absolute;
}

.hidden_plot:checked + label {
	border: 2px inset #ff3333 ; 
	opacity: .9;
}

.label-date {
	border: outset;
	height: 32px;
	width: 32px;
	text-align:center;
}

.hidden_date {
	visibility: hidden;
	position: absolute;
}

.hidden_date:checked + label{
	border: 2px inset #ff3333 ; 
	opacity: .9;
}
